.intro {
    display: flex;
    flex-direction: column;
    margin: 92px auto 0 0;
    max-width: 830px;
}

.intro__title {
    max-width: 830px;
    max-height: 116px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
}

.intro__quote {
    max-width: 738px;
    max-height: 68px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin: 40px 0 0;
}

.intro__quote-credit {
    max-width: 732px;
    max-height: 34px;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    margin: 10px 0 0;
}

.intro__content {
    max-width: 722px;
    max-height: 182px;
    font-size: 16px;
    line-height: 163%;
    margin: 76px 0 0;
}