*{
    box-sizing: border-box;
}

.page {
    color: #fff;
    background-color: #2a2c2f;
    display: flex;
    flex-direction: column;
    padding: 0 148px;
}

/*Ponto Médio para 768px*/

@media all and (max-width: 1024px) {
    .page {
        padding: 0;
    }
}

/*Ponto Médio para 320px*/

@media all and (max-width: 544px) {

}